@page "/allproducts"
@using MealPlannerUI.Data
@inject ProductInfoService ProdService

<PageTitle>MealPlannerUI</PageTitle>

<h1>MealPlanner database items</h1>

<p>All database <b>Products</b> items</p>

@if (prodInfForUI == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table" name="aaa">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Fat</th>
                <th>Carbohydrates</th>
                <th>Proteins</th>
                <th>Energy(per 100g)</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var prod in prodInfForUI)
            {
                <tr>
                    <td>@prod.ProductId</td>
                    <td>@prod.ProductName</td>
                    <td>@prod.Fat</td>
                    <td>@prod.Carbohydrates</td>
                    <td>@prod.Protein</td>
                    <td>@prod.Energy</td>
                    
                </tr>
            }
        </tbody>
    </table>
}


