@page "/findproduct"
@using MealPlannerUI.Data
@inject ProductInfoService prodInfoServ

<div>
    <h3>Find Product</h3>
    <br/>
    <label>Enter product name part:</label>
    <input type="text" value="@findThisNamePart" @oninput="UpdateFindThisNamePart" />
    <button class="btn btn-primary" @onclick="@FindOneProduct">Find product</button>
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    <button class="btn btn-primary" @onclick="DeleteSelected" >Delete selected items</button>
</div>
<br/>
<br/>
<table class="table" name="aaa">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Fat</th>
            <th>Carbohydrates</th>
            <th>Proteins</th>
            <th>Energy(per 100g)</th>
            <th>Select</th>
        </tr>
    </thead>
    <tbody>
        @if (firstRenderFlag)
        {
            <tr>
                <td>null</td>
                <td>null</td>
                <td>null</td>
                <td>null</td>
                <td>null</td>
            </tr>
        }
        else
        {
            @foreach (var p in found)
            {
                <tr>
                    <td>@p.IdProduct</td>
                    <td>@p.ProductName</td>
                    <td>@p.Fat</td>
                    <td>@p.Carbohydrates</td>
                    <td>@p.Protein</td>
                    <td>@p.Energy</td>
                    <td><input type="checkbox" @onchange="e => AddToSelectedList(e, p)"/></td>
                </tr>
            }
        }
    </tbody>
</table>

@code {
    List<int> selectedItems = new List<int>();

    string findThisNamePart = string.Empty;

    bool firstRenderFlag = true;

    private ProductInfo[]? found;

    private void AddToSelectedList(ChangeEventArgs e, ProductInfo prodId)
    {
        if ((bool)e.Value)
        {
            selectedItems.Add(prodId.IdProduct);
        }
        else
        {
            selectedItems.Remove(prodId.IdProduct);
        }
        //var x = selectedItems.Count;
    }

    private void UpdateFindThisNamePart(ChangeEventArgs e)
    {
        findThisNamePart = e.Value.ToString();
    }

    private async Task FindOneProduct()
    {
        ProductInfo[] prod = await prodInfoServ.GetSingleProductInfo(findThisNamePart);
        found = prod;
        findThisNamePart = string.Empty;
        firstRenderFlag = false;
    }

    private async Task DeleteSelected()
    {
        var arrayForRequest = selectedItems.ToArray();

        await prodInfoServ.DeleteSelectedProducts(arrayForRequest);
    }
}
